test/wsdl/extensionBaseNamespace/bar1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:base"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:common="urn:common"
            targetNamespace="urn:base"
            elementFormDefault="qualified">
    <xsd:import namespace="urn:common" schemaLocation="bar2.xsd"/>
    <xsd:complexType name="BaseType">
        <xsd:sequence>
            <xsd:element name="Code" type="common:Code"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommonRequestType">
        <xsd:complexContent>
            <xsd:extension base="BaseType">
                <xsd:sequence>
                    <xsd:element name="Label" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>